body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(./images/nza_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container{
    background-color: white;
    padding: 0;
}

/* NAVBAR STYLING */

nav{
    position: sticky;
    top: 0;
    background-color: white;
}
#saul_logo{
    height: 20vh;
    margin-top: 1%;
}

#login{
    position: absolute;
    top: 0;
    right: 1vw;
    height: 5vh;
    width: 5vw;
    border: none;
    background-color: lightgray;
    color: white;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav1 nav2 nav3 nav4 nav5";
    justify-content: center;
    margin: 1% 0 3% 0;
    padding: 0;
    column-gap: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav1{
    grid-area: nav1;
}

#nav2{
    grid-area: nav2
}

#nav3{
    grid-area: nav3
}

#nav4{
    grid-area: nav4
}

#nav5{
    grid-area: nav5
}

nav hr{
    margin: 2vh;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-right: 2px solid lightgray;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

nav a:nth-child(5){
    border-right: none;
}

nav a:visited{
    color: black;
}

nav a:hover{
    font-weight: bolder;
    color: black;
}

/* FOOTER STYLING */

#foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    border-top: 2px solid black;
    margin-top: 2vh;
}

#foot a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#foot a:visited{
    color: black;
}

#foot a:hover{
    font-weight: bolder;
}

#foot span{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#foot span:after{
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    color: lightgray;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* WHO WE ARE */

#who_main_picture{
    width: 100%;
    height: auto;
}

#who_address_list{
    list-style: none;
    padding: 0;
}

#who_news_text{
    color: white;
    padding: 10px;
}

.scroll {
    max-height: 550px;
    overflow-y: auto;
}

#whobgimg{
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTACT US */

#contact_contact_card{
    color: white;
    margin-bottom: -100px;
    margin-left: -20px;
    height: 350px
}

#contact_address_list{
    list-style: none;
    margin-left: -30px;
}

#contact_parking_list{
    list-style: none;
    margin-left: -30px;
}

#contact_phone_image{
    width: 120%;
    margin-bottom: 30px;
    margin-top: -45px;
    margin-left: -10px;
}

#contact_beige_card{
    margin-top: -30px;
    width: 200px;
}

#contact_red_card{
    margin-top: -30px;
    margin-left: -10px;
    margin-right: -10px;
}

#contact_beige_background{
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_where{
    color: darkred;
    margin-top: 10px;
}

#contact_corp_people{
    width: 300px;
}

#contact-reputation-image{
    margin-bottom: 10px;
}

.main_container{
    margin-top: -100px;
    margin-bottom: -100px;
}


/* WHERE WE WORK*/

.where-we-work{
    color:white;
    padding:10px;
}



/* WHAT WE DO */

#what-we-do{
    color:white;
    padding:10px;
}

.nav-text-top{
    color:white;
}

#where-we-work{
    color:white;
}

li{
    list-style-type: none;  
}

#image1{
    width: 400px;
    margin-bottom: 20px;
}

#image2{
    width: 400px;
    margin-bottom: 20px;
}

#image3{
    width: 400px;
    margin-bottom: 20px;
}

#image4{
    width: 400px;
    margin-bottom: 20px;
}

#nav-link-image{
    width:220px;
    margin-left:7px;
}

#background-nav{
    margin-top:none;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-weight: lighter;
}