/* ALL PAGES */

body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(./images/nza_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container{
    background-color: white;
    padding: 0;
}

h3{
    font-weight: lighter;
    color:white;
}

li{
    list-style-type: none;  
}

/* NAVBAR STYLING */

nav{
    position: sticky;
    top: 0;
    background-color: white;
}
#saul_logo{
    height: 20vh;
    margin-top: 1%;
}

#login{
    position: absolute;
    top: 0;
    right: 1vw;
    height: 5vh;
    width: 5vw;
    border: none;
    background-color: lightgray;
    color: white;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav1 nav2 nav3 nav4 nav5";
    justify-content: center;
    margin: 1% 0 3% 0;
    padding: 0;
    column-gap: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav1{
    grid-area: nav1;
}

#nav2{
    grid-area: nav2
}

#nav3{
    grid-area: nav3
}

#nav4{
    grid-area: nav4
}

#nav5{
    grid-area: nav5
}

nav hr{
    margin: 2vh;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-right: 2px solid lightgray;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

nav a:nth-child(5){
    border-right: none;
}

nav a:visited{
    color: black;
}

nav a:hover{
    font-weight: bolder;
    color: black;
}

/* FOOTER STYLING */

#foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    border-top: 2px solid black;
    margin-top: 4vh;
}

#foot a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#foot a:visited{
    color: black;
}

#foot a:hover{
    font-weight: bolder;
}

#foot span{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#foot span:after{
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    color: lightgray;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* INDEX STYLING*/

#welcome p{
    font-size: 4em;
    text-align: center;
}

#welcome{
    display: flex;
    align-items: center;
}

/* WHO WE ARE */

#who_main_picture{
    width: 100%;
    height: auto;
}

#who_address_list{
    list-style: none;
    padding: 0;
}

#who_news_text{
    color: white;
    padding: 20px;
}

#who_news_text hr{
    display: block;
    height: 0px;
    border-top: 3px solid white;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.scroll{
    max-height: 555px;
    overflow-y: auto;
}

#whobgimg{
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTACT US */

#contact_contact_card{
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 60vh;
    margin: 0;
}

#contact_parking_list{
    list-style: none;
    margin-left: -30px;
}

#contact-corp-people{
    width: 100%;
    margin-bottom: 10px;
}

#contact_phone_image{
    width: 100%;
}

#contact_address_list{
    list-style: none;
    padding: 0;
    margin-top: 5vh;
}

#contact_beige_background{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

#contact_map{
    width: 100%;
    margin-bottom: 10px;
}

#contact_where{
    color: darkred;
    margin-bottom: 30px;
}

#contact-reputation-image{
    width: 100%;
    margin-bottom: 10px;
}

/* WHERE WE WORK*/

#where-sidebar{
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#where-page-pic{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* WHAT WE DO */

.nav-text-top{
    color:white;
}

#nav-link-image{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-hr{
    display: block;
    height: 0px;
    border-top: 3px solid white;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

#what-sidebar{
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#what-we-do{
    padding: 0;
}

.what-we-do-left{
    padding-left: 0;
}

.what-we-do{
    padding-left: 30px;
}

#image1{
    width: 100%;
    margin-bottom: 20px;
}

#image2{
    width: 100%;
    margin-bottom: 20px;
}

#image3{
    width: 100%;
    margin-bottom: 20px;
}

#image4{
    width: 100%;
    margin-bottom: 20px;
}