.bg-image{
    background-image: url("./images/nav_side.jpg");
    background-repeat: no-repeat;
    object-fit:initial;

}
hr{
    height: 10px;
    background-color: white;
    border: none;
}

h1 {
    color: white;
    font-family:'Courier New', Courier, monospace;

}
h6 {
    color: white;
    font-family:'Courier New', Courier, monospace;

}
li{
    color: white;
    font-family:'Courier New', Courier, monospace;
    list-style-type: none;

}
p{
    
    font-family:'Courier New', Courier, monospace;

}
img{
    margin-bottom: 20px;
}